h1 {
  font-size: 2.7rem;
  line-height: 1.1;
}


.notfound{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top:5rem ;
}
.notfound h1{
  font-size: 8rem;
  margin: 0;
    font-family: DS-Digital;
}
.notfound button{
  padding: 0.5rem 1rem;
  color:#288FA3 ;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 0.5rem;
  cursor: pointer;
}
.notfound button:hover{
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
